<!-- partial "parts/open-doc.html" -->
<main>
	<div id="page-meeting" class="columns-spacer">
		
		<header class="gr-row">
			<div class="gr6-3 room-picture">
				<img src="assets/mm/salle.jpg" class="heavy-border" />
			</div>
			<div class="gr6-3 room-info">
				<h4>ÉTAGE 1</h4>
				<h3>Salle Joseph Pujol</h3>
				
				<div class="room-status--ok">Libre</div>
				<div class="room-status--ko">Occupé</div>
			</div>
		</header>
		<div class="gr-row">
			<h2>Prochaines réservations</h2>
			<table>
				<tr>
					<td>21/10/18</td>
					<td>08:00 - 09:00</td>
					<td class="main-td">Vincent Laag</td>
					<td class="time-info">Début dans 01:28</td>
				</tr>
				<tr>
					<td>21/10/18</td>
					<td>16:00 - 18:00</td>
					<td class="main-td">Easy Live</td>
					<td class="calendar-info">Une icône qui sert à rien ou pas</td>
				</tr>
				<tr>
					<td>22/10/18</td>
					<td>16:00 - 18:00 </td>
					<td class="main-td">Brandoni</td>
					<td></td>
				</tr>
				<tr>
					<td>23/10/18</td>
					<td>08:00 - 09:00 </td>
					<td class="main-td">Alphabet</td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</main>
<!-- partial "parts/close-doc.html" -->