<!-- partial "parts/open-doc.html" -->
<main>
	<div class="gr-row">
		<div id="page-meteo" class="gr6-cell">
			
			<div class="gr-row">
				<div class="meteo-today__icon gr6-2">
					<i class="wi wi-night-sleet"></i>
				</div>
				
				<div class="gr6-4 meteo-today__desc">
					<div class="columns-spacer">
						<p>
							La température est de <em>19°C</em><br/>
							<em>Temps nuageux</em>
						</p>
						<div class="meteo-trend">
							<ul>
								<li>
									<div class="meteo-trend__icon"><i class="wi wi-night-sleet"></i></div>
									<div class="meteo-trend__clock">0h</div>
								</li>
								<li>
									<div class="meteo-trend__icon"><i class="wi wi-night-sleet"></i></div>
									<div class="meteo-trend__clock">6h</div>
								</li>
								<li class="meteo-trend--active">
									<div class="meteo-trend__icon"><i class="wi wi-night-sleet"></i></div>
									<div class="meteo-trend__clock">12h</div>
								</li>
								<li class="meteo-trend--active">
									<div class="meteo-trend__icon"><i class="wi wi-night-sleet"></i></div>
									<div class="meteo-trend__clock">18h</div>
								</li>
								<li class="meteo-trend--active">
									<div class="meteo-trend__icon"><i class="wi wi-night-sleet"></i></div>
									<div class="meteo-trend__clock">24h</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gr-row">
		<div id="page-welcome" class="gr6-cell">
			<div class="welcome-board columns-spacer">
				<div>
					<div class="welcome-board__who">
						Rocco Siffredi
					</div>
					<div class="welcome-board__message">
						accueille Mme Boutin<br/>
						<small>Salle de réunion du 2 étage</small>
					</div>
				</div>
				
				<div>
					<div class="welcome-board__who">
						C-renity
					</div>
					<div class="welcome-board__message">
						accueille la société Vuxe<br/>
						<small>Salle de réunion du 2 étage</small>
					</div>
				</div>
				
				<div>
					<div class="welcome-board__who">
						Easy Live
					</div>
					<div class="welcome-board__message">
						accueille la société Apple<br/>
						<small>Salle de réunion du 2 étage</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>


</main>
<!-- partial "parts/close-doc.html" -->