<!-- partial "parts/open-doc.html" -->
<main>
	<div class="gr-row">
		<div class="gr6-cell">
			<div class="columns-spacer">
				<div class="columns-spacer__row">
					<h2>
						Colmar&nbsp;&nbsp;›&nbsp;&nbsp;Strasbourg
					</h2>
					<table>
						<thead>
						<tr>
							<th>Geispolsheim</th>
							<th>Strasbourg</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>14:00</td>
							<td>14:30</td>
							<td class="time-info">Départ dans 01:02</td>
						</tr>
						<tr>
							<td>15:00</td>
							<td>15:30</td>
							<td></td>
						</tr>
						<tr>
							<td>16:00</td>
							<td>16:30</td>
							<td></td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="columns-spacer__row">
					<h2>
						Strasbourg&nbsp;&nbsp;›&nbsp;&nbsp;Colmar
					</h2>
					<table>
						<thead>
						<tr>
							<th>Geispolsheim</th>
							<th>Strasbourg</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>14:00</td>
							<td>14:30</td>
							<td class="time-info">Départ dans 01:02</td>
						</tr>
						<tr>
							<td>15:00</td>
							<td>15:30</td>
							<td></td>
						</tr>
						<tr>
							<td>16:00</td>
							<td>16:30</td>
							<td></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</main>

<!-- partial "parts/close-doc.html" -->