.gr-row{
	position: relative;
	
	display: table;
	width:100%;
	//border: violet 1px solid;
}


.gr-cell{
	display: table-cell;
	width:100%;
	//border: greenyellow 1px solid;
}

$all-gr-cell: '';
@for $gr-index from 1 through $gr-cols{
	@if($gr-index < $gr-cols){
		.gr6-#{$gr-index}{
			width: 100% / $gr-cols * $gr-index;
			content: 'gr6-#{$gr-index}';
		}
	}
	
	@if($all-gr-cell != ''){
		$all-gr-cell: $all-gr-cell + ', ';
	}
	$all-gr-cell: $all-gr-cell + '.gr6-#{$gr-index}';
}

#{$all-gr-cell}{
	@extend .gr-cell;
}