*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body {
	display: block;
	color: #000;
	font-size: 16px;
	background-color: white;
}

ol, ul {
	list-style: none;
}