<aside id="page-aside">
	<div class="aside-floor">
		<div class="aside-floor__index">0</div>
		<ul class="aside-floor__entreprises">
			<li></li>
		</ul>
	</div>
	<div class="aside-floor">
		<div class="aside-floor__index">1</div>
		<ul class="aside-floor__entreprises">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="aside-floor">
		<div class="aside-floor__index">2</div>
		<ul class="aside-floor__entreprises">
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</aside>